h3 {
	text-align: center;
	text-decoration: underline;
}

.skills {
	color: green;
}

.ol-style {
	color: black;
	text-align: center;
	list-style-type: upper-roman;
	/* Tell Ed Team that the below property is missing in the book */
	list-style-position: inside;
}

.p-style {
	color: palevioletred;
	text-align: center;
}
